body{
    background-color: #002992;
    margin: 0px;
    font-family: 'Courier New', Courier, monospace;
}

/* nav item center*/
.fixed{
    
    align-items: center;
    padding-top: 10px;
    height: 80px;
    margin-top: 30px;
    position: fixed;
    z-index: 5;
    background-color: #ffffff
}
.nav-item-center{
    text-align: center;
    width: 1 0 10rem;
    border-radius: 12px;
    position: relative;
    width: 110px;
    margin: 0px 4px;
}
/* hover nav item - center*/
.h_tittle{
    z-index: 999;
    font-size: 10px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    background-color: rgb(60, 58, 58);
    color: #ffffff;
    padding: 5px 13px;
    border-radius: 5px;
    visibility: hidden;
    opacity: 1;
    transition: opacity 0.5s ease;
}
li:hover .h_tittle{
    bottom: -65%;
    visibility: visible;
    opacity: 1;
    z-index: 999;
    
}

.nav li a{
    font-size: 20px;
    color: #828489;
}
ul li .active{
    border-radius: 1px;
    border-bottom: 3px solid #3651ff;
    color: #3651ff;
    margin-bottom: -3px;
}

.nav-item:hover{
    background-color:  rgb(222, 222, 222);
    
}
.box:hover{
    background-color: rgb(210, 210, 210);
    cursor: pointer;
    
}
 /* nav left  */
.box-f{
    
    z-index: 10;
    background-color: #ffffff;
}
.nav-left{
    position: relative;
    display:block;
    z-index: 10;
    margin-left: 8px;
    width: 280px;
    justify-content: center;
    align-items: center;
}
.box-search{
   
    z-index: 10;
    margin-left: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    border-radius:30px;
    width: 230px;
    background-color: #F1F5F9;
}
.box-search > .isearch{
    
    font-size: 18px;
    color:   #bcc1c7;
    margin-left: 2px;
}
.isearch{
    font-size: 10px; 
    fill: #e30000;
    margin-bottom: -4px;
}

.box-search > .search-box{
    z-index: 99;
    flex: 0.5;
    margin-left: 3PX;
    height: 30px;
    border: none;
    outline: none;
    color: #bcc1c7;
    background-color: #F1F5F9;
}
/*end nav-left */

/* start nav-right*/
.nav-right {
    margin-right: 8px;
    width: 280px;
    display: flex;
    align-items: end;
    list-style: none;
    padding: 0;
    justify-content: end;
    align-items: center;
}

.box {
    height: 42px;
    width: 42px;
    border-radius: 50%;
    margin-left: 7px;
    background-color: rgb(222, 225, 235);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
}

.icon {
    width: 24px;
    
}
.imgp{
    border-radius: 50%;
}

.R_down{
    font-size: 80%;
    text-align: center;
    height: 20PX;
    width: 20PX;
    border-radius: 10PX;
    position: absolute;
    background-color:  rgb(222, 225, 235);
    border: 1px solid white;
    justify-content: center;
    align-items: center;
    top: 60%;
    left: 60%;
}


/*notification drop down*/


.NHead{
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.allbtn{
    margin-right: 10px;
    width: 35px;
    color: #4ba2d1;
    border: none;
    background-color: #e4eff5;
    border-radius: 40%;
    
}
.unbnt{
    border: none;
    background-color: #ffffff;
}

.Nsub{
    margin: 10px 0px;
    display: flex;
    justify-content:space-between;
}
.see_all{
    color: #4ba2d1;
    border: none;
    margin-right: -8px;
    background-color: #e4e6eb;
}

.notfi-main{
        margin-right: px;
        width: 280px;
        align-items: end;
        list-style: none;
        padding: 0;
        justify-content: end;
        align-items: center;
    
}

.notfi-list{
    height: 42px;
    width: 42px;
    border-radius: 50%;
    background-color: rgb(222, 225, 235);
    position: relative;
    margin-right: 5px;
    
}
.N-down{
    font-size: 70%;
    text-align: center;
    height: 20PX;
    width: 20PX;
    border-radius: 10PX;
    position: absolute;
    background-color: #4ba2d1;
    border: 1px solid white;
    justify-content: center;
    align-items: center;
    top: 60%;
    left: 60%;
    color: #ffffff;
}

.notfi-list-sub{
    width: 100%;
    display: flex;
    height: 40px;
    background-color: #3651ff;
}
.notfi-main{
    float: left;
    position: relative;
    background-color: #bcc1c7;
    width: 100%;
}

.notfi-list-right{
    position: relative;
    float: left;
    margin-left: 10px;
    width: 200px;
    background-color: #e30000;
}
.text-time{
    margin-left: -8px;
    margin-right: 0px;
    color: #4ba2d1;
}

.col-md-10 .card-body{
    font-size: 15px;
    margin-left: -8px;
    
    padding: 0px;
    border: none;
    height: 70px;
    overflow: hidden;
}
#cardMenu2{
    position: fixed;
}

.norti_warap{
    z-index: 4;
    padding: 10px 12px;
    right: 0.7%;
    top: 0%;
    margin-top: 60px;
    position: absolute;
    width: 350px;
    max-height: 200px;
    border: none;
    border-radius: 7px;
    box-shadow: -3px 3px 3px rgba(0,0,0,0.1);
    max-height: 700px; /* Set maximum height for scrolling */
    overflow-y: auto; /* Enable vertical scrolling */
}

/*notification dropdown end*/
.card-menu{
    display: none;
    background-color: #ffffff;
}
/*message dropdown start*/
#cardMenu1{
  position: fixed;
}
.main{
    margin-top: 60px;
    z-index: 4;
    padding: 10px 0px 0px;
    right: 0.7%;
    top: 0%;
    position: absolute;
    width: 350px;
    height: 500px;
    border: none;
    border-radius: 10px;
    box-shadow: -3px 3px 3px rgba(0,0,0,0.1);
    max-height: 600px; /* Set maximum height for scrolling */
}
.message_warap{
    
    padding: 0px 15px 0px;
    position: relative;
    width: 100%;
    border: none;
    display:block;
    max-height: 90%; /* Set maximum height for scrolling */
    overflow-y: auto; /* Enable vertical scrolling */
}
.chatmenu{
    display: flex;
    color: #6b6969;
    width: 25%;
    justify-content: space-between;
    cursor:pointer;
}

.inbox{
    text-align: center;
    margin-right: 10px;
    width: 20%;
    color: #4ba2d1;
    border: none;
    background-color: #e4eff5;
    
    
}

.message_search{
    
    padding-left: 7px;
    margin: 10px 0px;
    display: flex;
    justify-content: start;
    align-items: center;
    height: 35px;
    border-radius:30px;
    width: 100%;
    background-color: #F1F5F9;

}

.col-md-10 .message-body{
    font-size: 14px;
    margin-left: 0px;
    padding: 0px;
    border: none;
    height: 42px;
    overflow: hidden;
    position: relative;
    align-items: center;
    
}
.messaged{
    position: relative;
    display: flex;
    margin-top: -7px;
    color: #828489;
}
.card .row{
    position: relative;
    float: right;
    
    
}
.message-foot{
    margin-top: 15px;
    font-size: 12px;
    position: relative;
    height: 5%;
    color: #4ba2d1;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

/* Dropdown search*/
#cardMenu3{
    position: fixed;
}
.main-search{
    background-color: none;
    z-index: 3;
    display: none;
    padding-bottom: 30px;
    top: 0%;
    position: absolute;
    width: 320px;
    max-height: 590px;
    border-radius: 7px;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.1);
     /* Set maximum height for scrolling */
     overflow: hidden;

}
.head-search{
    background-color: none;
    margin-top: 60px;
    padding: 10px 12px;
    width: 100%;
    max-height: 510px;
    border: none;
     /* Set maximum height for scrolling */
    overflow: hidden;
}
.Shead{
    color: #4ba2d1;
}
.x-head{
    cursor: pointer;
    top: 30%;
    right: 0%;
    position: absolute;
    font-size: 15px;
}
.col-md-10 .S-body{
    font-size: 13px;
    margin-left: 0px;
    padding: 0px;
    border: none;
    height: 42px;
    overflow: hidden;
    position: relative;
    align-items: center;
}
.Snew i{
    margin: 7px;
    font-size: 8px;
    color:#4ba2d1;
    margin-right: 4px;
}
.Snew{
    margin-left: -7px;
    display: flex;
    margin-top: -6px;
    
}

/* responsive  */
.navbar{
    display: flex;
    flex-wrap: wrap;
}


@media screen and (max-width: 1210px) {
    nav{
        
        display: flex;
        flex-wrap: wrap;
    }
    .search-box{
        display: none;
    }
    .box-search{
        z-index: 1;
        margin-left: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        border-radius:30px;
        width: 40px;
        background-color: #F1F5F9;
    }
    .nav-left{
        display: flex;
        margin-left: 8px;
        width: 15rem;
        justify-content: start;
        align-items: center;
    }
    .nav-right {
        width: 15rem;
        margin-right: 8px;
        display: flex;
        align-items: end;
        list-style: none;
        padding: 0;
        justify-content: end;
        align-items: center;
    }
    .nav-item-center{
        text-align: center;
        border-radius: 12px;
        width: 1 5 1rem;
        margin: 0px 4px;
    }
    .re-center{
        display: flex;
        width: 1 0 15rem;
       
    }
}

/* responsive 1*/
@media screen and (max-width: 1190px) {
    nav{
        
        display: flex;
        flex-wrap: wrap;
    }
    .search-box{
        display: none;
    }
    .box-search{
        z-index: 1;
        margin-left: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        border-radius:30px;
        width: 40px;
        background-color: #F1F5F9;
    }
    .nav-left{
        display: flex;
        margin-left: 8px;
        width: 15rem;
        justify-content: start;
        align-items: center;
    }
    .nav-right {
        width: 15rem;
        margin-right: 8px;
        display: flex;
        align-items: end;
        list-style: none;
        padding: 0;
        justify-content: end;
        align-items: center;
    }
    .nav-item-center{
        text-align: center;
        border-radius: 12px;
        width: 1 5 1rem;
        margin: 0px 4px;
    }
    .re-center{
        display: flex;
        width: 1 0 15rem;
       
    }
}
/* responsive 2*/
@media screen and (max-width: 1130px) {
    nav{
        
        display: flex;
        flex-wrap: wrap;
    }
    .search-box{
        display: none;
    }
    .box-search{
        z-index: 1;
        margin-left: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        border-radius:30px;
        width: 40px;
        background-color: #F1F5F9;
    }
    .nav-left{
        display: flex;
        margin-left: 8px;
        width: 10rem;
        justify-content: start;
        align-items: center;
    }
    .nav-right {
        width: 13rem;
        margin-right: 8px;
        display: flex;
        align-items: end;
        list-style: none;
        padding: 0;
        justify-content: end;
        align-items: center;
    }
    .nav-item-center{
        text-align: center;
        border-radius: 12px;
        width: 6rem;
        margin: 0px 4px;
        
    }
    .re-center{
        display: flex;
        width: 1 0 15rem;
        
    }
}
/*responsive 3*/
@media screen and (max-width: 1030px) {
    nav{ 
        display: flex;
        flex-wrap: wrap;
    }
    .search-box{
        display: none;
    }
    .box-search{
        z-index: 1;
        margin-left: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        border-radius:30px;
        width: 40px;
        background-color: #F1F5F9;
    }
    .nav-left{
       
        display: flex;
        margin-left: 8px;
        width: 10rem;
        justify-content: start;
        align-items: center;
    }
    .nav-right {
        width: 13rem;
        
        margin-right: 8px;
        display: flex;
        align-items: end;
        list-style: none;
        padding: 0;
        justify-content: end;
        align-items: center;
    }
    .nav-item-center{
        text-align: center;
        border-radius: 12px;
        width: 5rem;
        margin: 0px 4px;
        
    }
    .re-center{
        display: flex;
        width: 1 0 15rem;
        
    }
}
/* responsive 4*/
@media screen and (max-width: 878px) {
    nav{ 
        display: flex;
        flex-wrap: wrap;
    }
    .search-box{
        display: none;
    }
    .box-search{
        z-index: 1;
        margin-left: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        border-radius:30px;
        width: 40px;
        background-color: #F1F5F9;
    }
    .nav-left{
       
        display: flex;
        margin-left: 8px;
        width: 10rem;
        justify-content: start;
        align-items: center;
    }
    .nav-right {
        width: 13rem;
       
        margin-right: 8px;
        display: flex;
        align-items: end;
        list-style: none;
        padding: 0;
        justify-content: end;
        align-items: center;
    }
    .nav-item-center{
        text-align: center;
        border-radius: 12px;
        width: 4rem;
        margin: 0px 4px;
        
    }
    .re-center{
        display: flex;
        width: 1 0 15rem;
      
    }
}
/* responsive 5*/
@media screen and (max-width: 790px) {
    nav{ 
        display: flex;
        flex-wrap: wrap;
    }
    .search-box{
        display: none;
    }
    .box-search{
        z-index: 1;
        margin-left: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        border-radius:30px;
        width: 40px;
        background-color: #F1F5F9;
    }
    .nav-left{
        
        display: flex;
        margin-left: 8px;
        width: 10rem;
        justify-content: start;
        align-items: center;
    }
    .nav-right {
        width: 13rem;
       
        margin-right: 8px;
        display: flex;
        align-items: end;
        list-style: none;
        padding: 0;
        justify-content: end;
        align-items: center;
    }
    .nav-item-center{
        text-align: center;
        border-radius: 12px;
        width: 3rem;
        margin: 0px 4px;
        
    }
    .re-center{
        display: flex;
        width: 1 0 15rem;
        
    }
}
/* responsive 5*/
@media screen and (max-width: 710px) {
    nav{ 
        display: flex;
        flex-wrap: wrap;
    }
    .search-box{
        display: none;
    }
    .box-search{
        z-index: 1;
        margin-left: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        border-radius:30px;
        width: 40px;
        background-color: #F1F5F9;
    }
    .nav-left{
        
        display: flex;
        margin-left: 8px;
        width: 10rem;
        justify-content: start;
        align-items: center;
    }
    .nav-right {
        width: 13rem;
        
        margin-right: 8px;
        display: flex;
        align-items: end;
        list-style: none;
        padding: 0;
        justify-content: end;
        align-items: center;
    }
    .nav-item-center{
        text-align: center;
        border-radius: 12px;
        width: 3rem;
        margin: 0px 4px;
        display: none;
    }
    .re-center{
        display: flex;
        width: 1 0 15rem;
    }
}

/*body right*/
.body-right-main{
    z-index: 3;
    background-color:#e4e6eb;
    display: flex;
    position: relative;
    height: auto;
}
.body-right:hover{
    overflow-y: auto; 
}
.body-right{
    background-color:#e4e6eb;
    position: absolute;
    right: 0px;
    display: block;
    padding: 10px 12px;
    width: 350px;
    border: none;
    z-index: 2;
    max-height: 850px; /* Set maximum height for scrolling */
    overflow-y: hidden;/* Enable vertical scrolling */
}
.norti_info{

}
.body-r{
    z-index: 0px;
    display: flex;
    padding: 0px 5px;
    align-items: center;
    background-color:#e4e6eb;
    height: 70px;
    border: none;
}

.notfi-body{
    height: 42px;
    width: 42px;
    border-radius: 50%;
    background-color: #e4e6eb;
    position: relative;
    margin-right: 0px;
    
}
.onlin-pro{
    height: 15px;
    width: 15px;
    border-radius: 10PX;
    position: absolute;
    background-color: #00f100;
    border: 0.1px solid white;
    top: 65%;
    left: 65%;
    color: #ffffff;
}
.pro-name{
    margin-left: 5px;
    font-weight:600;
}
.body-icon p{
    font-weight: 400;
    padding-left: 5px;
    text-align: start;
    background-color: #e4e6eb;
    color: #4a4a4a;
}
.Bsub{
    justify-content: space-between;
    margin: 10px 0px;
    display: flex;
    color: #4a4a4a;
}

.contact-icon{
    cursor: pointer;
    margin-left: 3px;
    color: #4a4a4a;
   
}

/* body main left*/
#bd-l{
    position: fixed;
}

.body-left-main{
    background-color: #e4e6eb;
    display: flex;
    position: relative;
}
.body-left:hover{
    overflow-y: auto;
}
.body-left{
    background-color: #e4e6eb;
    position: absolute;
    display: block;
    padding: 10px 12px;
    width: 350px;
    border: none;
    border-radius: 0px;
    max-height: 850px; /* Set maximum height for scrolling */
    overflow-y: hidden;/* Enable vertical scrolling */
}

.body-l{
    z-index: 0px;
    display: flex;
    padding: 0px 5px;
    align-items: center;
    background-color:#e4e6eb;
    height: 70px;
    border: none;
}
.monifi-body-l{
    
    height: 42px;
    width: 42px;
    background-color:#e4e6eb;
    position: relative;
    margin-right: 0px;
    
}
.imgg{
    border-radius: 25%;
}

#edit{
    color: #4ba2d1;
}

.p-r-body{
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 42px;
    width: 42px;
    border-radius: 50%;
    background-color: #e4e6eb;
    position: relative;
    margin-right: 0px;
    
}
.links{
    color: #6b6969;
    text-decoration: none;
    height: 60px;
    justify-content: space-around;
    width: 100%;
    font-size: 15px;
    display: block;
    background-color: #e4e6eb;
}
.links a{
    text-decoration: none;
    color: #6b6969;
}
.links a:hover{
    text-decoration: underline;
}

/*slder body main*/
.bodys{
    background-color: #e4e6eb;
    z-index: 1;
    justify-content: center;
    align-items: center;
    display: flex; 
}

.contain{
    background-color:#e4e6eb;
    width: 700px;
    
}
.slider-wrapper .image-list {
    height: 250px;
    overflow: hidden;
    overflow-x: auto;
    scrollbar-width: none;
    font-size: 0;
    gap: 15px;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}
.slider-wrapper .image-list .image-item{
    position: relative;
    top: -30px;
    width: 150px;
    height: 230px;
    object-fit: cover;
    border-radius: 10px;
}

.f-notfi-slder{
    z-index: 1;
    border: 2px solid rgb(246, 246, 246);
    height: 42px;
    width: 42px;
    border-radius: 50%;
    background-color: rgb(0, 34, 255);
    position: relative;
    top: 70%;
    left: 40%;
    color: #00f100;
}


.slider-wrapper .image-list .slide{
    position: relative;
    
    width: 150px;
    height: 230px;
    object-fit: cover;
    border-radius: 10px;
}

.slider-wrapper .image-list .image-item-f{
    
    position: relative;
    top: 15px;
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;
}

.slide h5 i{
    cursor: pointer;
    z-index: 2;
    top: -30%;
    background-color: #002aff;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    border: 3px solid white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    
}

.slide h5{
    top: 80%;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    color: #000000;
    width: 100%;
    height: 60px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

.slide h6{
    display: flex;
    align-items: start;
    position: relative;
    z-index: 1;
    color: #bcc1c7;
    top: -60px;
    padding-left: 10px;
}
.notfi-slder{
    z-index: 1;
    border: 2px solid rgb(65, 65, 190);
    height: 42px;
    width: 42px;
    border-radius: 50%;
    background-color: rgb(222, 225, 235);
    position: relative;
    display: flex;
    top: 25px;
    left: 15px;
    margin-right: 0px;
    
}

/*sub head body*/

.sub-body-head{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    border-radius: 15px;
    padding: 0px;
    background-color: #e4e6eb;
    height: 130px;
    width: 100%;
    padding: 0px 0px
    
}
.pro-search{
    padding: 0px 15px;
    overflow: hidden;
    display: block;
    justify-content: center;
    width: 700px;
    border-radius: 15px;
    background-color: #ffffff;
}

.body-SUB{
    border-bottom: 1px solid #888888;
    width: 700px;
    position: relative;
    z-index: 0px;
    display: flex;
    padding: 0px 0px;
    align-items: center;
    background-color: #ffffff;
    height: 70px;
    
}

.search-box-body{
    display: block;
    padding-left: 10px;
    position: relative;
    margin-left: 10PX;
    border-radius: 25px;
    width: 620px;
    height: 40px;
    border: none;
    outline: none;
    color: #acadae;
    background-color: #e9ecef;
}
.groupI{
    margin-top: 5px;
    align-items: center;
    justify-content: space-evenly;
    gap: 5;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: #ffffff;
    height: 40px;
}
.groupI p{
    border-radius: 20px;
    margin-top: 10px;
    height: 90%;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    font-size: 15px;
}
.groupI p:hover{
    background-color: #bebebe;
    cursor: pointer;
}

.fa-video{
    display: flex;
    font-size: 20px;
    color: red;
    margin-right: 10px;
}
.fa-image{
    display: flex;
    font-size: 20px;
    color: rgb(0, 255, 76);
    margin-right: 10px;
}

.fa-face-smile{
    display: flex;
    font-size: 20px;
    color: rgb(238, 255, 0);
    margin-right: 10px;
}
/*main post*/
.body-post{
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
    border-radius: 15px;
    margin-top: 15px;
    background-color:#e4e6eb;
}
.sub-body-post{
    border-radius: 15px;
    padding: 15px 0px;
    width: 700px;
    background-color: #ffffff;
}
.sub-body-head-post{
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    display: flex;
    margin: 0px 15px;
}

.left-post{
    display: flex;
    position: relative;
}
.name-post{
    display: flex;
    align-items: center;
    margin-left: 10px;
    position: relative;
    background-color: #ffffff;
    height: 42px;
}
.name-post p{
    position: absolute;
    font-size: 11px;
    top: 25px;
    color: #4e4d4d;
}
.post-icon{
    display: flex;
    justify-content: end;
    align-items: center;
    
    background-color: #ffffff;
    height: 30px;
    font-size: 20px;
    color: #5d5b5b;
}
.post-icon i{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.post-icon i:hover{
    background-color: #d6d8db;
    cursor: pointer;
}
.body-description{
    margin: 0px 15px;
    margin-top: 15px;
    background-color: #fff;
    text-align: start;
    margin-bottom: 5px;
}
.content{
    margin-top: 15px;
    height: 145px;
    background-color: #fff;
    text-align: start;
    overflow: hidden;
}

.body-description button{
    display: flex;
    border: none;
    background-color: white;
   
}

.body-img-post{
    justify-content: center;
    height: auto;
    width: 100%;
    
}

.body-amout-post{
    margin: 0px 15px;
    height: 40px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgb(142, 142, 141);
}
.command{
    background-color: #ffffff;
    display: flex;
    align-items: center
}
.likes{
    display: flex;
    background-color: #ffffff;
    align-items: center;
}
.likes .fa-heart{
    z-index: 2;
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: #f10000;
    font-size: 15px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 2px solid white;
    color: #ffffff;
}

.likes .fa-thumbs-up{
    margin-left: -4px;
    z-index: 1;
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: #0c00f1;
    font-size: 15px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 2px solid white;
    color: white;
    margin-right: 5px;
}

.groupi-post{
    padding: 0px 15px;
    align-items: center;
    justify-content: space-evenly;
    gap: 5;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: #ffffff;
    height: 40px;

}

.groupi-post p{
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    font-size: 15px;
    height: 4vh;
    font-size: 20px;
}

.groupi-post p:hover{
    background-color: #bebebe;
    cursor: pointer;
}
.groupi-post p .fa-solid{
    margin-right: 5px;
}

.body-post-main{
    padding-top: 50px;
}
.col-6{
    background-color: #e4e6eb;
}

/*respansive body post*/
@media screen and (max-width:1445px){
    .body-left-main{
       
        display: none;
       
    }

    .body-right-main{
        z-index: 3;
        background-color: #e4e6eb; 
        position: relative;
        height: auto;
        display:contents;
        width: 100%;
    }

    .col-6{
        background-color: #e4e6eb;
        width: 100%;
        justify-content: center;
        display: flow-root;
        margin-right: 30%;
    }

    .body-SUB{
        border-bottom: 1px solid #888888;
        width: 700px;
        position: relative;
        z-index: 0px;
       
        display: flex;
        padding: 0px 0px;
        align-items: center;
        background-color: #ffffff;
        height: 70px;
        
    }

    .search-box-body{
        justify-content: center;
        overflow: hidden;
        display: flexbox;
        padding-left: 10px;
        
        margin-left: 10PX;
        border-radius: 25px;
        width: 58vh;
        height:40px;
        border: none;
        outline: none;
        color: #acadae;
        background-color: #e9ecef;
    }
}

@media screen and (max-width:995px){
    .body-left-main{
       
        display: none;
       
    }

    .body-right-main{
        display:none;
        
    }
    
    .col-6{
        background-color: #e4e6eb;
        justify-content: center;
        display: contents;
        z-index: 1;
        
    }

}

@media screen and (max-width:767px){
    .body-left-main{
       
        display: none;
       
    }

    .body-right-main{
        display:none;
        
    }

    .col-6{
        background-color: #e4e6eb;
        justify-content: center;
        display: contents;
       
    }
    .bodys{
        background-color: #e4e6eb;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .contain{
        
        background-color: #e4e6eb;

        
    }

}

@media screen and (max-width:700px){
    .body-left-main{
       
        display: none;
       
    }

        .bodys{
        background-color: #1a1a72;
        justify-content: start;
        align-items: center;
        width: 100%;
    }

    .body-right-main{
        display:none;
        
    }

    .search-box-body{
        justify-content: center;
        overflow: hidden;
        display: flexbox;
        padding-left: 10px;
        
        margin-left: 10PX;
        border-radius: 25px;
        width: 400px;
        height:40px;
        border: none;
        outline: none;
        color: #acadae;
        background-color: #e9ecef;
    }

    .col-6{
        background-color: #ff00bb;
        justify-content: center;
        display: contents;
       
    }
    .bodys{

        width: 100%;
    }
    .pro-search{
        padding: 0px 15px;
        overflow: hidden;
        display: block;
        justify-content: center;
        width: 100%;
        border-radius: 15px;
        background-color: #ffffff;
    }

    .contain{
        
        background-color: #e4e6eb;

        
    }

}

